@import "bourbon";
@import "neat";


@import "font-awesome";

// //partials
@import "mobile";


//apply box-sizing to entire doc
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 2em;
}

.plistWrapper {
  border: .5em solid black;


  .plistEmbed {
    @include outer-container;
    margin: 1em;

    .player {
      @include span-columns(3);
      border-radius: 10px;
    }

    .vidDescription {
      @include span-columns(9);
    }
  }


}




