@import "bourbon";
@import "neat";
@import "font-awesome";



//partials
@import 'type-system';
@import 'medium';
@import 'desktop';
@import 'mobile';

//apply box-sizing to entire doc
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 2em;
}

.page-title {
  text-align: right;
}