<show-spinner txt="vm.customText"></show-spinner>
<div class="plistWrapper">

  <div class="plistEmbed"ng-repeat="data in vm.videoData track by data.id">
    <ng-youtube-embed class="player" url='vm.url+data.snippet.resourceId.videoId' width="100%" height="290"></ng-youtube-embed>
    <div class="vidDescription">
      <div>
        <h1>{{data.snippet.title}}</h1>
        <h6>Custom Text: {{vm.customText}}</h6>
        <p>{{data.snippet.description}}</p>
      </div>
    </div>
  </div>
</div>
  
       